{% extends 'shared/base.html' %}

{% block body %}


<section class="p-5 bg-light">
    <div class="container">

        <div class="row justify-content-center mx-auto" style="height: 100vh;">
            <div class="col-sm-12 col-md-11 col-lg-10 mx-auto">

                <!-- title -->
                        <div class="text-center mb-4" style="margin-top:80px">
                            <h1 class="display-2 texth1">Editar</h1>
                        </div>
                <!-- end of title-->



                        <form method="post" action="{{ url_for('login_edit' , row_id = login.id)}}" class="text-muted">

                          

                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        {{ form.usuario.label(class="form-control-label") }}
                                            {% if form.usuario.errors %}
                                                {{ form.usuario(class = "form-control is-invalid") }}
                                                <div class="invalid-feedback">
                                                     {% for erro in form.usuario.errors %}
                                                       {{ erro }}
                                                     {% endfor %}
                                                </div>
                                            {% else %}
                                                 {{ form.usuario(class = "form-control") }}
                                            {% endif %}
                                    </div>

                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                         {{ form.senha.label(class="form-control-label") }}
                                            {% if form.senha.errors %}
                                                {{ form.senha(class = "form-control is-invalid") }}
                                                <div class="invalid-feedback">
                                                     {% for erro in form.senha.errors %}
                                                       {{ erro }}
                                                     {% endfor %}
                                                </div>
                                            {% else %}
                                                 {{ form.senha(class = "form-control") }}
                                            {% endif %}
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="d-grid gap-2" >
                                    <input type="submit" value="Save" class="btn btn-outline-success mb-3 mt-3" />
                                </div>
                            </div>

                        </form>

                        <div class="row mt-4">
                            <div class="col text-center">
                                <a href="{{url_for('login_list')}}" class="seta-voltar">&larr; Voltar</a>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
</section>







{% endblock %}

